@use "../variables" as *;

.faqs {
  --toggle-size: 10px;
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 40px;

  .faq {
    cursor: pointer;
    text-align: start;
    border-bottom: 1px solid #eaecf0;
    padding-block: 1.5rem;

    &:last-child {
      border-bottom: none;
    }

    &.faq--open {
      .faq__inner {
        .answer {
          grid-template-rows: 1fr;
        }
      }

      .faq__toggle {
        .faq__toggle-line {
          &:nth-child(2) {
            transform: rotate(0);
          }
        }
      }
    }

    .faq__inner {
      display: grid;

      .question {
        display: grid;
        grid-template-columns: 1fr 30px;
        align-items: center;
        gap: 1rem;
        font-size: 18px;
      }

      .answer {
        display: grid;
        grid-template-rows: 0fr;
        transition: all 0.3s ease;
        gap: 1rem;

        .answer__inner {
          display: grid;
          overflow: hidden;
          gap: 0.5rem;

          &:before {
            content: "";
          }

          .answer__wrapper {
            display: grid;
            grid-template-columns: 1fr var(--toggle-size);

            > * {
              display: grid;
              gap: 1rem;
            }

            .answer__content {
              font-size: 16px;
              max-width: 700px;
            }
          }
        }
      }
    }

    .faq__toggle {
      display: grid;
      place-items: center;
      background-color: transparent;
      border: 0;
      width: var(--toggle-size);
      height: var(--toggle-size);
      transform-origin: 50% 50%;
      border: 1px solid #e2b205;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;

      .faq__toggle-line {
        position: absolute;
        width: var(--toggle-size);
        height: 2px;
        background-color: #e2b205;
        border: 1px solid transparent;
        border-radius: 2px;
        transition: all 0.3s ease;

        &:nth-child(2) {
          transform: rotate(-90deg);
        }
      }
    }
  }
}
